<div class="row">
    <div class="col-lg-12">
        <div class="lookup-container">
            <table>
                <tr>
                    <th>Patient ID</th>
                    <th>Time Created</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let item of data; let i = index">
                    <td>{{item.patientId}}</td>
                    <td>{{item.timeCreated}}</td>
                    <td><span>$</span>{{item.amount}}</td>
                    <td width="125px">
                        <div class="progress">
                            <div class="bar {{item.status}}">
                                <p class="percent" ></p>
                            </div>
                        </div>
                        <!-- <div *ngIf="item.status == 'SENT_FOR_ADJUDICATION'">For Review</div>
                        <div *ngIf="item.status == 'PARTIALLY_PROCESSED'">Partial</div>
                        <div *ngIf="item.status != 'SENT_FOR_ADJUDICATION' && item.status != 'PARTIALLY_PROCESSED'">{{item.status}}</div> -->
                    </td>
                    <td>
                        <div class="tooltip1 me-1" (click)="delete(item.id, deleteTemplate)">
                            <a href="javascript:void(0)" class="fa fa-2x fa-trash delete"></a>
                            <span class="tooltiptext">Delete Claim</span>
                        </div>
                        <button type="button" class="btn btn-primary me-1" *ngIf="item.status == 'INITIATED'"
                            (click)="processClaim(item.id)">Process</button>
                        <button type="button" class="btn btn-success" (click)="generateStatement(item.id, template)"
                            *ngIf="item.status != 'INITIATED' && item.status != 'PROCESSED'">Generate Statement</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button close-btn" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body" #contentToConvert>
        <div>
            <div class="header-container">
                <img src="../../../assets/images/njit_logo.png" class="njit_logo" alt="NJIT Logo">
                <span>NJIT Healthcare</span>
            </div>
            <h1>Invoice</h1>
            <div>
                <div class="d-flex align-items-center justify-content-between">
                    <span>BILLED TO </span>
                    <span>Invoice No.: H145</span>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <span class="name">{{statement.patientName}}</span>
                    <span>December 13, 2021</span>
                </div>
                <div>{{statement.address}}</div>
                <div>DOB: {{statement.dob}}</div>
            </div>
            <div class="mb-2">
                <div>Insurance : <span>Public Health Insurance</span></div>
            </div>
            <div>
                <table>
                    <tr>
                        <th >Description</th>
                        <th>Quantity</th>
                    </tr>
                    <tr>
                        <td width="50%">ICDs</td>
                        <td>{{statement.icd10s.length}}</td>
                    </tr>
                    <tr>
                        <td width="50%">CPTs</td>
                        <td>{{statement.CPTs.length}}</td>
                    </tr>
                </table>
            </div>
            <div class="d-flex align-items-center mt-3">
                <div style="width: 50%;">
                    <div class="font-weight-bold">Please Make Payment to: </div>
                    <div>NJIT Healthcare</div>
                    <div>Account no.4535-8769-23</div>
                </div>
                <div>
                    <div class="font-weight-bold">Total Amount </div>
                    <div class="font-weight-bold">${{statement.balance}}</div>
                </div>
            </div>
            <div class="statement-footer">
                <span>323 Dr Martin Luther King Jr Blvd, Newark, NJ 07102</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="generatePdf(contentToConvert)">Save as PDF</button>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>

<ng-template #deleteTemplate>
    <div class="modal-header">
        <span class="modal-title pull-left">Confirm</span>
        <button type="button close-btn" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body" >
        <span class="mb-5">Are you sure, you want to delete this claim?</span> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteConfirmation()">Yes</button>
        <button type="button" class="btn btn-default" (click)="deleteModalRef.hide()">No</button>
    </div>
</ng-template>